.details {
    color: var(--color-secundario);
    font-size: 1.5em;
    text-align: center;
}
.index__container {
    animation: animate 18s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate {
    0%, 100% {
        background-image: url("../images/slider/glass00.jpg");
    }
    16% {
        background-image: url("../images/slider/glass01.jpg");
    }
    32% {
        background-image: url("../images/slider/glass02.jpg");
    }
    48% {
        background-image: url("../images/slider/glass03.jpg");
    }
    64% {
        background-image: url("../images/slider/glass04.jpg");
    }
    80% {
        background-image: url("../images/slider/glass05.jpg");
    }
}
.links {
    display: flex;
}
.links li {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}
.links li a {
    color: var(--color-secundario);
    text-decoration: none;
    transition: all .5s ease;
}
.links li a:hover {
    color: var(--color-grey);
}
.logo a img {
    height: 50px;
    width: auto;
}
.outer {
    align-items: center;
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}
.navbar {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1250px;
    padding: 0 50px;
}
.navbar span:nth-child(1) {
    display: none;
}
.nav-links {
    height: 100%;
    line-height: 70px;
}
.sidebar-logo {
    display: none;
}