.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}
.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}
.border {
    border: 1px solid #dee2e6 !important;
}

.border-0 {
    border: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.border-top-0 {
    border-top: 0 !important;
}

.border-end {
    border-right: 1px solid #dee2e6 !important;
}

.border-end-0 {
    border-right: 0 !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border-bottom-0 {
    border-bottom: 0 !important;
}

.border-start {
    border-left: 1px solid #dee2e6 !important;
}

.border-start-0 {
    border-left: 0 !important;
}

.border-primary {
    border-color: #0d6efd !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.border-success {
    border-color: #198754 !important;
}

.border-info {
    border-color: #0dcaf0 !important;
}

.border-warning {
    border-color: #ffc107 !important;
}

.border-danger {
    border-color: #dc3545 !important;
}

.border-light {
    border-color: #f8f9fa !important;
}

.border-dark {
    border-color: #212529 !important;
}

.border-white {
    border-color: #fff !important;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-3 {
    border-width: 3px !important;
}

.border-4 {
    border-width: 4px !important;
}

.border-5 {
    border-width: 5px !important;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}
.btn:hover {
    color: #212529;
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
.btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}
.btn-secondary:disabled, .btn-secondary.disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}
.btn-success:disabled, .btn-success.disabled {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-info {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-info:hover {
    color: #000;
    background-color: #31d2f2;
    border-color: #25cff2;
}
.btn-info:disabled, .btn-info.disabled {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:hover {
    color: #000;
    background-color: #ffca2c;
    border-color: #ffc720;
}
.btn-warning:disabled, .btn-warning.disabled {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    color: #fff;
    background-color: #bb2d3b;
    border-color: #b02a37;
}
.btn-danger:disabled, .btn-danger.disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-light {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:hover {
    color: #000;
    background-color: #f9fafb;
    border-color: #f9fafb;
}
.btn-light:disabled, .btn-light.disabled {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn-dark:hover {
    color: #fff;
    background-color: #1c1f23;
    border-color: #1a1e21;
}
.btn-dark:disabled, .btn-dark.disabled {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: #0d6efd;
    background-color: transparent;
}
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
    color: #6c757d;
    background-color: transparent;
}
.btn-outline-success {
    color: #198754;
    border-color: #198754;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
    color: #198754;
    background-color: transparent;
}
.btn-outline-info {
    color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-outline-info:hover {
    color: #000;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
    color: #0dcaf0;
    background-color: transparent;
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
    color: #ffc107;
    background-color: transparent;
}
.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
    color: #dc3545;
    background-color: transparent;
}
.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-outline-light:hover {
    color: #000;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
    color: #f8f9fa;
    background-color: transparent;
}
.btn-outline-dark {
    color: #212529;
    border-color: #212529;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
    color: #212529;
    background-color: transparent;
}
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}
.card {
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
    max-width: 1200px;
    padding: 50px;
    text-align: center;
    width: 90%;
}
.col {
    flex: 1 0 0%;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}
.col-xl-auto {
    flex: 0 0 auto;
    width: auto;
}

.col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}
.container__form-login {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.container__form-login form {
    margin: auto;
    max-width: 400px;
    width: 90%;
}
#container__table-solicitudes, #container__table-productos {
    overflow: auto;
}
.content {
    margin: 0px 30px 100px 30px;
    padding: 30px;
    text-align: justify;
}
.details {
    color: var(--color-secundario);
    font-size: 1.5em;
    text-align: center;
}
.feedback {
    font-size: .75rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control::-webkit-date-and-time-value {
    height: 1.5em;
}
.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.index__container {
    animation: animate 18s ease-in-out infinite;
    background-size: cover;
}
@keyframes animate {
    0%, 100% {
        background-image: url("../images/slider/glass00.jpg");
    }
    16% {
        background-image: url("../images/slider/glass01.jpg");
    }
    32% {
        background-image: url("../images/slider/glass02.jpg");
    }
    48% {
        background-image: url("../images/slider/glass03.jpg");
    }
    64% {
        background-image: url("../images/slider/glass04.jpg");
    }
    80% {
        background-image: url("../images/slider/glass05.jpg");
    }
}
.links {
    display: flex;
}
.links li {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0 10px;
    position: relative;
    white-space: nowrap;
}
.links li a {
    color: var(--color-secundario);
    text-decoration: none;
    transition: all .5s ease;
}
.links li a:hover {
    color: var(--color-grey);
}
.logo a img {
    height: 50px;
    width: auto;
}
.main__container {
    background: yellow;
    border: solid 1px red;
    bottom: 55px;
    height: calc(100vh - 150px);
    position: relative;
    top: 70px;
}
.map {
    height: 400px;
    width: 100%;
}
.navbar {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: auto;
    max-width: 1250px;
    padding: 0 50px;
}
.navbar span:nth-child(1) {
    display: none;
}
.nav-links {
    height: 100%;
    line-height: 70px;
}
.navigation {
    align-items: center;
    display: flex;
    height: 400px;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.navigation-visibility {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 999;
}
.navigation-visibility .slide-icon {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1);
    height: 10px;
    margin: 0 6px;
    transform: translateY(-50px);
    width: 20px;
    z-index: 999;
}
.navigation-visibility .slide-icon.active {
    background: #4285F4;
}
.prev-btn, .next-btn {
    background: rgba(255, 255, 255, 0.8);
    color: #222;
    cursor: pointer;
    font-size: 3rem;
    padding: 5px;
    z-index: 999;
}
.prev-btn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.next-btn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.outer {
    align-items: center;
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    display: flex;
    left: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}
.sidebar-logo {
    display: none;
}
.slider {
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    min-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider:hover .navigation, .slider:hover .slide .info {
    opacity: 1;
}
#gallery .slide {
    clip-path: circle(0% at 0 50%);
    height: 100%;
    position: absolute;
    width: 100%;
}
#gallery .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}
#gallery .info {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1);
    color: #222;
    margin-left: 10%;
    margin-top: 50px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    transition: opacity 0.5s ease;
    width: 80%;
}
#gallery .slide .info h2 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}
#gallery .slide .info p {
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}
#gallery .slide img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}
.table-bordered > :not(caption) > * {
    border-width: 1px 0;
}
#table__solicitudes tbody tr td button, #table__productos tbody tr td button {
    margin: 5px 5px 5px 5px;
    text-align: center;
    width: 60px;
}
.td__action {
    padding-bottom: 10px;
    padding-top: 10px;
}
.td__container{
    border-right: solid 1px #ccc;
    padding-left: 20px;
    padding-right: 20px;
}
.td__img-container {
    text-align: center;
    max-height: 300px;
    max-width: 200px;
}
.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
}

.text-success {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.text-info {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.text-warning {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.text-danger {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}
.text-left {
    text-align: left;
}
.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.ul__contacto li {
    padding-bottom: 10px;
    padding-top: 10px;
}
.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}
