body {
    font-family: "Open Sans", "Calibri", sans-serif;
}
footer {
    align-items: center;
    background-color: var(--color-principal);
    bottom: 0;
    color: var(--color-secundario);
    font-size: .7em;
    display: flex;
    height: 30px;
    left: 0;
    justify-content: center;
    position: fixed;
    right: 0;
}
hr {
    margin-bottom: 20px;
    margin-top: 20px;
}
img {
    height: auto;
    width: 100%;
}
main {
    background-color: var(--color-secundario);
    bottom: 30px;
    position: relative;
    min-height: calc(100vh - 100px);
    top: 70px;
    width: 100%;
}
nav {
    background-color: var(--color-principal);
    height: 70px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    margin: auto;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}